@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format('opentype');

}

body {
    background-color: #eef3ef;
}

header {
     background-image: linear-gradient(to top, #012c13, #2ebf60);
     height: 250px;
     margin: -8px;
     padding: 1px;
     box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.6);
      
      
}

header > a:hover {
    background-color: #75cd9a;
    color:#012b12;
    padding: 8px;
    border-radius: 5px;
}

main {
    background-color: white;
    margin-top: 8px;
    margin-right: 230px;
    margin-left: 230px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 8px 0 6px -6px rgba(0, 0, 0, 0.149), -8px 0 6px -6px rgba(0, 0, 0, 0.252);

    
}

h1 {
     font-size: 2.5em;
     text-align: center;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: white;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

}



.centralizar-img {
    display: block;
    margin: 0 auto;
}


.h2-main{
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    color: #02411c;
}

.h3-main {
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    color: #025323;
    background-image: linear-gradient(to right, #75cd9a, #b4d1c1, white);

    
}

.video {
    display: block;
    margin: 0 auto;
    width: 900px;
    height: 506.25px;
    text-align: center;
    background-color: #012b12;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 60px;
    padding-left: 60px;
}

.a-main {
    color: #012b12;
    background-color: #75cd9a;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    
    
}

.texto-cabecalho { 
    font-size: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.div-final {
    background-color: #86f3b3;
    border-radius: 0px 0px 10px 00px;
    margin: 10px;
    margin-top: -16px;
    padding: 10px;
    
}

.a-cabecalho {
    position: relative;
    top: 77px;
    left: 12px;
    padding-right: 10px;
    text-decoration: none;
    color: #9aeebe;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-family: Arial, Helvetica, sans-serif;
}

.formatacao-texto {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-justify: auto;
    text-indent: 30px;
}

.p-final {
    background-color: #012b12;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    border-radius: 10px 10px 0px 0px;
    margin: 10px;
    margin-top: 35px;
    padding: 5px;
    padding-bottom: 8px;
}

#marca {
    background-color: #012c13;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: -15px;
    margin-right: -8px;
    margin-left: -8px;
    
}

#linkfinal {
    color: #012b12;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    
    
}


